.movie-image {
  width: 130px;
  height: auto;
  margin-bottom: 5px;
}

.container{
  display:flex;
  align-items: center;
  padding: 10px;
}

.buttons{
  display: flex;
  justify-content: center;
  gap: 5px;
  padding-right: 10px;
}

.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

