body {
  
  font-family: Arial, Helvetica, sans-serif;
  background-color: #263c1b32;
  color: #222;
}

.movie-image {
  width: 130px;
  height: auto;
  margin-bottom: 5px;
}

.container{
  display:flex;
  align-items: center;
  padding: 10px;
}

.buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  padding-right: 10px;
}

.form-buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}


.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  padding:10px;
}

